body {
    max-width: 30rem;
    margin: 0 auto;
}

h2 {
    font-size: 1.2rem;
    margin-top: 0;
}

form {
    border: 1px solid;
    padding: 1rem;

    & * {
        margin-right: 1rem;
    }
}

form, div {
    margin: 1rem 0;
}
